*{
  margin: 0; 
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/*
  Top of Page
*/
.Header{
  position: absolute;
  background: #74b9ff; 
  top: 0;
  height: 10vh;
  width: 100vw;
}

.Header h1{
  color: #ff3f34; 
  text-align: center;
  margin-top: 1vh; 
  text-shadow: #ff3f34 1px 1px;
}

/*
  Event Boxes
*/

.EBox{ 
  position: relative;
  margin: 10vw;
  border: .5vh solid black;
  opacity: .7;
  border-radius: 20px;
  height: 40vh;
  width: 80vw;
}

.PfPic{
  height: 30vh; 
  width: 30vw; 
  border: 1px black; 
  border-radius: 50%;
  margin-top: 2vh; 
  align-content: center;
  top: 50vh;
}

.Btn{
  height: 4vh;
  width: 8vw;
}

/*
  Base of the Page
*/
.Base{
  position: absolute;
  bottom: 0;
  height: 10vh;
  width: 100vw;
  background: #74b9ff;
  text-align: center;
}

.Base h1{
  margin-top: 1vh;
  color: #ff3f34; 
  text-shadow: #ff3f34 1px 1px;
}
